.jwplayer{
	top: 0px;
	left:0px;
	position: absolute !important;
}
.video {
position: absolute;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}